---
title: Cyberminer
description: |-
  A KWICK based search engine.
---
<p>Cyberminer was a KWICK (Key word in context) based search engine developed as part of a course project for Advanced Software Architecture and Design.</p>

<p>Cyberminer is a search engine that utilizes the KWIC indexing system for carrying out the search. The KWIC indexing system will develop the indexes required for Cyberminer.</p>


<p>Cyberminer accepts input and displays list of URLs, whose description has a match to the input entered.</p>
<h2>Input and Output</h2>
<p>Input : List of keywords through the textbox in the User Interface.<br />

Output: List of descriptions and URLs that are paginated and sorted in alphabetical order.</p>

<h2>Functional Requirements</h2>
<p>FR1: The system shall store the input as given and retrieve the input as such.<br />

FR2: When the user clicks on the URL, which has been retrieved as the result of a query, the system shall take the user to the corresponding web site.<br />

FR3: The system shall allow the user to specify the mode of search, using “OR”, “AND” or “NOT”.<br />

FR4: Multiple searches shall be run concurrently.<br />

FR5: The URLs for which the web page has been removed or no longer available and the corresponding descriptions for the URLs shall be deleted from the database.<br />

FR6: The results of the keyword search query shall be displayed in ascending alphabetical order.<br />

FR7: The number of pages to be displayed per page shall be set and navigation between the pages shall be enabled.<br />

FR8: The system shall remove the symbols from the input that are not meaningful.</p>

<h2>Non-functional requirements</h2>

<p>NFR1: The system shall be portable.<br />
NFR2: The system shall be understandable.<br />
NFR3: The system shall support enhanceability.<br />
NFR4: The system shall be user-friendly.<br />
NFR5: The system shall be reusable.<br />
NFR6: The system shall exhibit good performance.<br />
NFR7: The system shall be modifiable.</p>

<p><a href="https://prezi.com/ym5gpflk0fte/cyberminer/#">Project presentation</a> | <a href="https://github.com/adeydas/Cyberminer">Source Code</a></p>