<!DOCTYPE html>
<html>
<head>
  <title><%= current_page.data.title || "Abhishek Dey Das" %></title>
  <%= stylesheet_link_tag "bootstrap" %>

  <script type="text/javascript">
    function gen_mail_to_link(lhs,rhs) {
    document.write("<a href=\"mailto");
    document.write(":" + lhs + "@");
    document.write(rhs + "\">" + lhs + "@" + rhs + "<\/a>");
  }
  </script>

</head>
<body>
<div class="container">
  <div class="jumbotron">
    <div align="center"><h2><%= current_page.data.title || "Abhishek Dey Das" %></h2></div>
    <div align="center">
      Email: 
      <script type="text/javascript"> 
          gen_mail_to_link('abhishek','abhis.ws');
      </script>
      <noscript>
          <em>Please enable javascript to see my email address.</em>
      </noscript> <br /> 
      <a href="https://www.linkedin.com/in/adeydas" target="_blank">LinkedIn</a> | 
      <a href="https://github.com/adeydas" target="_blank">Github</a>
    </div>
  </div>

  <%= yield %>

  <div class="jumbotron">
    <div align="center">&copy; All copyrights reserved. All information on this site are personal opinion and doesn't reflect that of my employer.</div>
    <div align="center"><a href="http://twitter.com/adeydas">Twitter</a> | <a href="https://www.facebook.com/deydas.abhishek">Facebook</a></div>
  </div>
</div>
</body>
</html>
