---
title: Home
description: |-
  Homepage of Abhishek Dey Das.
---
<h2>Work Experience</h2>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Organization</th>
      <th>Position</th>
      <th>Timeline</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      	<td>Amazon</td>
      	<td>Software Development Engineer</td>
      	<td>August 2015 - Present</td>
    </tr>
    <tr class="success">
    	<td>Tango Analytics</td>
    	<td>Software Developer</td>
    	<td>June 2014 - August 2015</td>
    </tr>
    <tr>
    	<td>Tango Analytics</td>
    	<td>Software Developer Intern</td>
    	<td>January 2014 - May 2014</td>
    </tr>
    <tr class="success">
    	<td>Amazon</td>
    	<td>Software Development Engineer Intern</td>
    	<td>May 2013 - August 2013</td>
    </tr>
    <tr>
    	<td>Infosys Ltd</td>
    	<td>Systems Engineer</td>
    	<td>December 2010 - June 2012</td>
    </tr>
   </tbody>
</table>

<h2>Education</h2>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>School</th>
      <th>Degree</th>
      <th>Timeline</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      	<td>The University of Texas at Dallas</td>
      	<td>MS in Software Engineering</td>
      	<td>August 2012 - May 2014</td>
    </tr>
    <tr class="success">
    	<td>Gandhi Institute of Engineering and Technology</td>
    	<td>BTech in Computer Science & Engineering</td>
    	<td>August 2006 - May 2010</td>
    </tr>
   </tbody>
</table>

<hr />

<div class="alert alert-dismissible alert-info" align="center">
 <h3>What I have tweeting:</h3>
  <a class="twitter-timeline" href="https://twitter.com/adeydas" data-widget-id="733185598366748673">Tweets by @adeydas</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>