---
title: Home
layout: gallery_layout
description: |-
  Homepage of Abhishek Dey Das.
---
<div id="links">
    <a href="https://lh6.ggpht.com/8R2VbnmJNqIHQZDB9gJ5FgnYlFcUO1c14BRQT2yahNKIDo1AXryjqX2waWt2cU-GPw=w300" title="Banana" data-gallery>
        <img src="https://lh6.ggpht.com/8R2VbnmJNqIHQZDB9gJ5FgnYlFcUO1c14BRQT2yahNKIDo1AXryjqX2waWt2cU-GPw=w300" alt="Banana">
    </a>
    <a href="https://openclipart.org/image/2400px/svg_to_png/239997/TJ-Openclipart-8-character-Hi-4-2-16-png-.png" title="Apple" data-gallery>
        <img src="https://openclipart.org/image/2400px/svg_to_png/239997/TJ-Openclipart-8-character-Hi-4-2-16-png-.png" alt="Apple">
    </a>
    <a href="http://i251.photobucket.com/albums/gg294/wafpaf/graphics/hi/hi10.gif" title="Orange" data-gallery>
        <img src="http://i251.photobucket.com/albums/gg294/wafpaf/graphics/hi/hi10.gif" alt="Orange">
    </a>
</div>