---
title: Projects
description: |-
  Projects I have worked on.
---
<h2>Academic projects</h2>
<ul>
  <li><%= link_to 'Automated parking spot finder', '/projects/automated-parking-spot-finder.html' %></li>
  <li>Thought Search: A semantic search engine</li>
  <li><%= link_to 'Monitor VM security in an openstack powered cloud', '/projects/monitor-vm-security-openstack-cloud.html' %></li>
  <li><%= link_to 'Cyberminer', '/projects/kwick.html' %></li>
  <li>Easy Clipboard manager</li>
</ul>

<h2>Professional projects (when employed)</h2>
<ul>
  <li>Deployment platform for Pentaho Kettle transformations - Tango Analytics (May 2014 - Present)</li>
  <li>Spatial steps for Pentaho Kettle - Tango Analytics (May 2014 - Present)</li>
  <li>Distributed platform for disparate services - Tango Analytics (May 2014 - Present)</li>
  <li>R runner on the cloud - Tango Analytics (May 2014 - Present)</li>
  <li>Drivetime and Tradearea plugins for Alteryx - Tango Analytics (Jan 2014 - Apr 2014)</li>
  <li>Transmutation process for wire protocol - Amazon (May 2013 - Aug 2013)</li>
</ul>

<h2>Professional projects (as a freelancer)</h2>
<ul>
  <li>Zelinx</li>
  <li>Drop middle man</li>
  <li>Motiveminds CMS</li>
  <li>Website for Wingsoft Technologies LLC</li>
</ul>

<h2>Project-lets (tiny projects that try to solve a problem)</h2>
<ul>
  <li><a href="http://polygoncreator.abhis.ws/">Polygon Creator</a></li>
  <li><a href="https://github.com/adeydas/kettlecodegen">Kettle Code Generator</a></li>
  <li><a href="https://github.com/adeydas/Theft-Detector">Theft Detector</a></li>
  <li><a href="https://github.com/adeydas/ipkeeper">IP Keeper</a></li>
</ul>